<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="m-3">
    <h1>
        Contact us
    </h1>
    <!-- the page should include the address and the telephone number of the company-->
    <p >
        Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices. <br>
        Contact: 123-456-789<br>
        Address: 123 Main Street<br>
        Phone: 123-456-789<br>
        Email: 0H4JG@example.com<br>
        Website: www.bestcars.com<br>
    </p>

</body>
</html>
